.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row_flex {
  display: flex;
  justify-content: center;
}

.column_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical_divider {
  margin-right: 10px;
  min-width: 2px;
  background: var(--primary-accent-blue);    
}

.block_padding_left {
  padding-left: 150px;
}

.block_padding_right {
  padding-left: 150px;
}

.block_padding_lr {
  padding-left: 150px;
}

.block_padding_tb {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1440px;
  height: 100%;
  min-width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 150px;
  overflow: auto;
}

.cta_button {
  border: none;
  width: 250px;
  height: 55px;
  border-radius: 120px;
  box-shadow: 0px 7px 15px rgba(61, 124, 246, 0.15), 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  background: var(--primary-accent-blue);
  color: var(--tertiary-white);
}
