.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row_flex {
  display: flex;
  justify-content: center;
}

.column_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical_divider {
  margin-right: 10px;
  min-width: 2px;
  background: var(--primary-accent-blue);    
}

.block_padding_left {
  padding-left: 150px;
}

.block_padding_right {
  padding-left: 150px;
}

.block_padding_lr {
  padding-left: 150px;
}

.block_padding_tb {
  padding-top: 120px;
  padding-bottom: 120px;
}