@import url("theme.css");
@import url("common.css");

:root {
  --mobile-block-width: 375px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 1440px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

fieldset {
  margin: 0;
}

*+p {
  margin: 0;
}

.show_mobile {
  display: none;
}

.show_desktop {
  display: block;
}

.container {
  width: 1440px;
  max-width: 1440px;
  height: 100%;
  padding: 120px 150px;
  margin: 0 auto;
  overflow: auto;
}

.inner_container {
  margin: auto auto;
}

/* Navbar */
.mobile_nav {
  display: none;
}

.navbar {
  height: 100px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--primary-grey);
}

.navbar li {
  display: inline;
}

.navbar a {
  color: var(--primary-grey);
  padding: 10px;
  margin: 0px;
}

.logo_blue {
  background-image: url("../images/logo_blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 165px;
  height: 50px;
}

.logo_white {
  background-image: url("../images/logo_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 68px;
  height: 50px;
}

.banner_logo {
  background-image: url("../images/banner_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 290px;
  height: 250px;
  font-family: var(--primary-font);
  font-size: 52px;
}

#title_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 1025px;
  min-height: 600px;
}

/* Banner */
#banner {
  position: relative;
  height: 100%;
}

#banner .flex_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

#banner h1 {
  margin: 0;
}

#banner .container {
  display: flex;
  flex-direction: column;
  padding: 0 150px;
}

#banner .banner_img {
  width: 165px;
  height: 800px;
  object-fit: cover;
}

#banner .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_text {
  margin-top: 200px;
  width: 300px;
  color: var(--primary-grey);
}

#curtain_flex {
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: flex-end;
  z-index: -1;
}

.curtain {
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #01060B 0%, #042339 33.72%, #083C61 76.46%, #083C61 100%);
}

#podium.flex_1 {
  display: flex;
  justify-content: center;
}

#podium {
  width: 100%;
  min-height: 225px;
  height: 225px;
  background: radial-gradient(54.46% 54.46% at 50% 0%, rgba(63, 63, 68, 0.5) 0%, rgba(63, 63, 68, 0.9) 20.38%, rgba(63, 63, 68, 0.98) 38.57%, #3F3F44 49.85%, #3F3F44 72.87%);
  position: relative
}

#contact_us_btn.cta_button {
  transform: translate(0, -50%);
  position: absolute;
  top: 40%;
}

#man {
  position: absolute;
  z-index: -1;
  top: -180px;
  left: 50%;
  transform: translateX(-50%);
}

/* Contact us form */
.contact_us_form {
  width: 420px;
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#contact_us .flex_1 {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact_us .cta_button {
  width: 100%;
}

.contact_us_form .uk-legend {
  justify-content: center;
  text-align: center;
}

.contact_us_form .uk-input {
  height: 48px;
  border-radius: 6px;
}

#application_sent p {
  margin-top: 25px;
}

/* Who we are */
#who_we_are {
  min-height: 350px;
  background: var(--primary-grey);
}

#who_we_are p {
  margin-left: 128px;
}

#who_we_are .logo {
  display: inline-block;
}

/* Our experience */
#our_experience {
  min-height: 530px;
  background: url("../images/ellipse_1.png") no-repeat, var(--primary-dark-blue);
  background-position-x: calc(50% - 170px), center;
  background-position-y: -355px, center;
}

#our_experience .flex_1 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#our_experience h3 {
  color: var(--primary-grey);
  margin-bottom: 40px;
}

#our_experience .s2 {
  color: var(--primary-grey);
  margin-bottom: 10px;
}

#our_experience .s4 {
  color: var(--secondary-dark-grey);
}

#our_experience .block_1 {
  width: auto;
}

#our_experience .block_2 {
  display: flex;
  margin-bottom: 25px;
}

#our_experience .years {
  background-image: url("../images/20_years.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 200px;
  background-size: contain;
}

/* Out achievements */
#our_achievements {
  min-height: 620px;
  background: var(--primary-dark-blue);
  background-image: url("../images/world_map.png");
  background-position: center;
}

#our_achievements .title {
  margin-bottom: 50px;
}

#our_achievements_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#our_achievements .flex_1 {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#our_achievements .flex_2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#our_achievements .block_1 {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#our_achievements .block_1 h2 {
  color: var(--secondary-black)
}

/* Out specializations */
#our_specializations {
  min-height: 540px;
  height: auto;
  background: var(--primary-grey);
}

#our_specializations .container {
  padding-bottom: 90px;
}

#our_specializations h2 {
  margin-bottom: 70px;
}

#our_specializations .flex_1 {
  display: flex;
  justify-content: space-between;
  row-gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

#our_specializations .block_1 {
  display: flex;
  align-items: center;
  column-gap: 15px;
  height: 60px;
  width: 360px;
}

#our_specializations .s4 {
  color: var(--primary-dark-blue);
}

#our_specializations .h2 {
  color: var(--primary-dark-blue);
}

#our_specializations .flex {
  row-gap: 60px;
}

/* Why only with us */
#only_with_us {
  height: 365px;
  background: var(--primary-dark-blue);
}

#only_with_us .infoblock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 45px;
}

#only_with_us .container {
  padding-top: 90px;
}

#only_with_us .h3 {
  color: var(--primary-grey);
}

#only_with_us .s4 {
  width: 250px;
  height: 100%;
  color: var(--primary-grey);
}

#only_with_us .flex {
  display: flex;
  justify-content: space-between;
  row-gap: 45px;
}

/* Key to success */
#key_to_success {
  min-height: 685px;
  background: url("../images/ellipse_2.png") no-repeat, linear-gradient(90deg, var(--primary-grey) calc(50% + 15px), var(--primary-dark-blue) calc(50% + 15px));
  background-position-x: calc(50% + 650px), center;
  background-position-y: 370px, center;
}

#key_to_success .flex_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#key_to_success .block_1 {
  min-width: 735px;
  height: 100%;
  padding: 120px 100px 120px 150px;
  gap: 40px;
}

#key_to_success .block_2 {
  min-width: 705px;
  height: 100%;
  padding: 120px 150px 120px 100px;
  gap: 40px;
}

#key_to_success .block_3 {
  gap: 25px;
  max-width: 460px;
}

#key_to_success .block_4 {
  gap: 25px;
  max-width: 360px;
}

#key_to_success .title_1 {
  width: 350px;
  margin-bottom: 40px;
}

#key_to_success .title_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin-bottom: 40px;
}

/* Our capacities */
#our_capacities {
  height: 1140px;
  background: url("../images/airport.jpg") no-repeat top, var(--primary-grey);
}

#our_capacities .img_kazakhstan {
  width: auto;
  height: 252px;
  background: url("../images/kazakhstan.png") no-repeat;
}

#our_capacities .column_flex {
  justify-content: space-between;
  gap: 50px;
  height: 100%;
}

#our_capacities h2 {
  margin-top: 270px;
  margin-bottom: 50px;
}

#our_capacities .shadow {
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.9) 81.67%, #000000 100%);
}

#our_capacities .infoblock {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

#our_capacities .block_1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 10px;
  width: 260px;
  height: 90px;
  border: 1px solid var(--primary-grey);
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Our licenses */
#our_licenses {
  min-height: 935px;
  background: var(--primary-dark-blue);
}

#our_licenses .flex_1 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

#our_licenses .flex_1_item {
  width: 120px;
}

#our_licenses .column_flex {
  justify-content: flex-start;
  gap: 50px;
}

#our_licenses .title_1 {
  width: 550px;
}

#our_licenses .title_2 {
  margin-bottom: 25px;
}

#our_licenses .row_flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

#our_licenses fieldset>.row_flex {
  gap: 20px;
  flex-wrap: wrap;
}

#our_licenses fieldset {
  border: 1px solid var(--primary-grey);
  border-radius: 20px;
  padding: 35px 55px 55px;
  width: 655px;
}

#our_licenses legend {
  width: 440px;
  padding: 0 10px;
  color: var(--primary-grey);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
}

#our_licenses .notes {
  width: 390px;
  height: 520px;
  padding: 50px;
  background: var(--tertiary-blue);
  border-radius: 20px;
  align-self: flex-end;
}

#our_licenses .notes ul {
  margin-left: 20px;
  list-style: disc outside none;
}

#our_licenses li {
  margin-bottom: 15px;
}

#our_licenses li::marker {
  font-size: 1.4em;
}

#our_licenses legend {
  width: 456px;
  padding: 0 10px;
  color: var(--primary-grey);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#our_licenses legend img {
  width: 60px;
  height: 60px;
}

#our_licenses .li_block {
  height: auto;
  display: flex;
  align-items: center;
}

#our_licenses .li_block_marker {
  content: url("../images/dot_white.png");
  margin-right: 15px;
}

#our_licenses .block_1 {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* Our solutions */
#our_solutions {
  background: url("../images/ellipse_3.png") no-repeat, linear-gradient(90deg, var(--primary-dark-blue) calc(50% + 15px), var(--primary-grey) calc(50% + 15px));
  background-position-x: calc(50% - 700px), center;
  background-position-y: 370px, center;
}

#our_solutions .flex_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#our_solutions .part_1 {
  width: auto;
  min-height: 670px;
  height: 670px;
}

#our_solutions .part_2 {
  width: auto;
  min-height: 670px;
  height: 670px;
}

#our_solutions .block_1 {
  width: 735px;
  height: 100%;
  padding: 120px 100px 120px 150px;
  gap: 40px;
}

#our_solutions .block_2 {
  width: 705px;
  height: 100%;
  padding: 120px 150px 120px 60px;
  gap: 40px;
}

#our_solutions .block_3 {
  gap: 25px;
  max-width: 460px;
}

#our_solutions .block_4 {
  gap: 25px;
  max-width: 360px;
}

#our_solutions .title_1 {
  width: 510px;
  margin-bottom: 40px;
  color: var(--primary-grey);
}

#our_solutions .title_2 {
  width: 470px;
  margin-bottom: 50px;
  color: var(--primary-dark-blue);
}

#our_solutions .block_1 .li_item {
  color: var(--primary-grey);
}

#our_solutions .block_1 .li_item:not(:last-child) {
  margin-bottom: 20px;
}

#our_solutions .li_block {
  display: flex;
}

#our_solutions .li_block_item {
  margin-left: 20px;
}

#our_solutions .block_2 .li_block_item_header {
  margin-bottom: 10px;
  color: var(--primary-dark-blue);
}

#our_solutions img {
  object-fit: none;
}

#our_solutions .block_2 li:not(:last-child) {
  margin-bottom: 35px;
}

/* Our control system */
#our_control_system {
  height: 870px;
  background: url("../images/city_top_view.png") no-repeat center, var(--primary-grey);
}

#our_control_system .title_2 {
  width: 550px;
  margin-bottom: 20px;
}

#our_control_system .block_1 {
  height: auto;
  width: 750px;
}

#our_control_system .column_flex {
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;

}

#our_control_system .title_1 {
  width: 850px;
  display: flex;
  align-items: center;
  gap: 30px;
}

#our_control_system .progress_banner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 750px;
  height: 220px;
  background: rgba(154, 187, 250, 0.5);
  border-radius: 20px;
  padding: 40px;
}

#our_control_system .block_2 {
  height: auto;
  width: 400px;
}

#our_control_system .row_flex {
  justify-content: space-between;
}

#our_control_system .progress_line {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Our team */
#our_team {
  height: 865px;
  background: var(--primary-grey);
  /* background: url("../images/worker.png") no-repeat,  var(--primary-grey);
  background-position: bottom calc(50% + 30px), calc(50% + 30px) calc(100% - 100px), center center; */
}

#our_team .container {
  background: url("../images/worker.png") no-repeat, url("../images/worker_ellipse.png") no-repeat, url("../images/our_team_bg.jpg");
  background-position: calc(50% + 15px) bottom, calc(50% + 30px) calc(100% - 100px), center center;
}

#our_team .flex_1 {
  height: 100%;
  display: flex;
}

#our_team .title_1 {
  height: auto;
  width: 650px;
  margin-bottom: 50px;
}

#our_team .title_2 {
  width: 450px;
  margin-top: 80px;
  margin-bottom: 30px;
}

#our_team .block_1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#our_team .block_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 405px;
  gap: 20px;
}

#our_team .block_3 {
  width: 260px;
}

#our_team .part_1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#our_team .part_2 {
  margin-left: 30px;
}

#our_team .block_2_header {
  margin-bottom: 10px;
}

#our_team .li_block {
  height: auto;
  display: flex;
  align-items: center;
}

#our_team .li_block_marker {
  margin-right: 15px;
}

#our_team .block_4 {
  margin-left: 136px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* Future technologies */
#future_technologies {
  display: flex;
  flex-direction: column;
  height: 990px;
  min-height: 990px;
  background: var(--primary-dark-blue);
  padding: 120px 0;
}

#future_technologies .header_part {
  width: 1440px;
  max-width: 1440px;
  height: auto;
  padding: 0px 150px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#future_technologies .flex_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#future_technologies .part_1 {
  width: 50%;
  height: 100%;
  background: url("../images/screen.png") no-repeat;
  background-position-x: calc(100% - 102px);
  background-position-y: bottom;
}

#future_technologies .part_2 {
  width: 50%;
  height: 100%;
}

#future_technologies .notes {
  margin-left: auto;
  margin-right: 80px;
  width: 292px;
  height: 380px;
  padding: 30px 30px 40px 30px;
  background: var(--tertiary-dark-grey);
  border-radius: 15px;
}

#future_technologies ul {
  margin-top: 25px;
}

#future_technologies li:not(:last-child) {
  margin-bottom: 15px;
}

#future_technologies .notes .title_1 {
  margin: 0px;
}

#future_technologies .block_1 {
  margin-left: auto;
  width: 720px;
  height: 100%;
}

#future_technologies .block_2 {
  margin-right: auto;
  width: 720px;
  height: 100%;
}

#future_technologies .block_3_header {
  width: 450px;
  margin-bottom: 20px;
}

#future_technologies .block_3:not(:last-child) {
  margin-bottom: 50px;
}

#future_technologies .block_4 {
  display: flex;
  gap: 30px;
}

#future_technologies .block_5 {
  display: flex;
  width: 165px;
}

#future_technologies .block_5_exception_2 {
  width: 175px;
}

#future_technologies .block_5_exception_3 {
  width: 195px;
}

/* Any questions */
#any_questions {
  height: 860px;
}

#any_questions .flex_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#any_questions .part_1 {
  height: 100%;
  width: calc(50% + 50px);
  background: var(--primary-dark-blue);
}

#any_questions .part_2 {
  height: 100%;
  width: calc(50% - 50px);
  background: var(--tertiary-light-blue);
}

#any_questions .block_1 {
  height: 100%;
  width: 770px;
  padding: 120px 0px 120px 150px;
  margin-left: auto;
}

#any_questions .block_2 {
  height: 100%;
  width: 670px;
  padding: 120px 150px 120px 60px;
  margin-right: auto;
}

#any_questions .title_1 {
  max-width: 500px;
  margin-bottom: 50px;
}

#any_questions .scheme {
  width: 555px;
  height: 300px;
  position: relative;
}

#any_questions .scheme_text_1 {
  position: absolute;
  left: 63px;
  top: 17px;
  width: 240px;
}

#any_questions .scheme_text_2 {
  position: absolute;
  left: 34px;
  top: 242px;
  width: 200px;
}

#any_questions .scheme_text_3 {
  position: absolute;
  left: 335px;
  top: 206px;
  width: 185px;
}

#any_questions .circle {
  position: absolute;
  left: 160px;
  top: 67px;
}

#any_questions .ecosystem_scheme {
  width: 360px;
  height: 440px;
}

#any_questions .block_2_text {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

/* Quality standard */
#quality_standard {
  height: 960px;
  background: var(--primary-dark-blue);
}

#quality_standard .container {
  background-image: url(../images/quality_standard_bg.png)
}

#quality_standard .flex_1 {
  display: none;
}

#quality_standard .title_1 {
  width: 555px;
  margin-bottom: 80px;
}

#quality_standard .title_2 {
  width: 555px;
}

#quality_standard .block_header {
  margin-bottom: 10px;
}

/* Your ambitions */
#your_ambitions {
  height: 960px;
  background: var(--primary-dark-blue);
}

#your_ambitions .flex_1 {
  display: flex;
  height: 100%;
}

#your_ambitions .container {
  padding: 0px 0px;
}

#your_ambitions .part_1 {
  width: 100%;
  height: auto;
}

#your_ambitions .part_2 {
  width: 100%;
  height: auto;
}

#your_ambitions .block_1 {
  margin-left: auto;
  padding-top: 120px;
  padding-left: 150px;
  width: 720px;
  height: 100%;
  background: url("../images/building.jpg");
}

#your_ambitions .block_2 {
  margin-right: auto;
  padding-top: 120px;
  padding-right: 150px;
  width: 720px;
  height: 100%;
  background: url("../images/flying_apartment.jpg");
}

#your_ambitions .block_1 .header_1 {
  margin-bottom: 5px;
}

#your_ambitions .block_1 .header_2 {
  margin: 0;
}

#your_ambitions .block_2 .header_1 {
  margin-top: 100px;
  font-weight: 300;
  margin-bottom: 5px;
  font-weight: 400;
}

#your_ambitions .block_2 .header_2 {
  font-weight: 500;
  margin: 0;
}

#your_ambitions .block_2_text {
  margin-left: 180px;
  margin-top: 125px;
  width: 300px;
}

/* Our recent projects */
#our_recent_projects {
  min-height: 1065px;
  background: var(--primary-dark-blue);
}

#our_recent_projects .uk-card-body {
  height: 235px;
}

#our_recent_projects .card-body-header {
  margin-top: 15px;
}

#our_recent_projects .card-body-text {
  margin-top: 5px;
}

#our_recent_projects .uk-card-body {
  padding: 30px 20px;
}

#our_recent_projects .slider {
  margin-top: 50px;
}

/* Our clients */
#our_clients {
  min-height: 935px;
  background: var(--primary-dark-blue);
}

#our_clients .title {
  width: 750px;
}

#our_clients ul {
  padding: 0;
  margin: 0;
  width: 260px;
}

#our_clients li {
  margin-top: 20px;
}

#our_clients li:first-child {
  margin-top: 0px;
}

#our_clients .block_1 {
  width: 260px;
}

#our_clients .block_2 {
  margin-left: 25px;
  max-height: 525px;
}

#our_clients .flex_1 {
  margin-top: 50px;
  display: flex;
}

#our_clients .flex_2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

#our_clients .company_logo {
  border-radius: 15px;
}

/* Footer */
footer {
  min-width: 1440px;
  overflow: auto;
  height: 405px;
  background: var(--secondary-black);
}

footer .flex_1 {
  display: flex;
  align-items: center;
}

footer .flex_2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .block_1 {
  margin-left: 94px;
  width: 216px;
}

footer .block_2 {
  margin-left: 86px;
  width: 216px;
}

footer ul {
  margin-left: 86px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li a {
  display: block;
  color: #FFF;
  padding: 8px 16px;
  text-decoration: none;
}


@media only screen and (max-width: 640px) {
  .show_mobile {
    display: inline;
  }

  .show_desktop {
    display: none;
  }

  body {
    min-width: 375px;
    width: 100%;
  }

  body h1 {
    font-size: 24px;
  }

  body h2 {
    font-size: 20px;
    font-weight: 500;
  }

  body h3 {
    font-size: 18px;
  }

  .s2 {
    font-size: 14px;
  }

  .s4 {
    font-size: 12px;
    display: inline-block;
  }

  .s6 {
    font-size: 12px;
    display: inline-block;
  }

  .container {
    width: 375px;
    min-width: 375px;
    padding: 50px 16px;
  }

  .logo_blue {
    background-image: url("../images/mobile/logo_blue.png");
    width: 80px;
    height: 40px;
  }

  .logo_white {
    width: 24px;
    height: 18px;
  }

  #banner .uk-navbar-toggle {
    min-height: 0px;
    height: 20px;
  }

  .uk-navbar-dropdown {
    background-color: transparent;
    padding: 0;
    width: auto;
  }

  .mobile_nav {
    display: block;
    background: transparent;
  }

  .navbar {
    height: 60px;
  }

  .navbar a {
    padding: 0;
  }

  .uk-navbar-dropdown-nav>li>a {
    color: var(--white);
    padding: 0;
    margin-bottom: 10px;
  }

  .desktop_nav {
    display: none;
  }

  /* Banner */
  #banner .banner_img {
    width: 55px;
    object-fit: cover;
  }

  #banner .container {
    padding: 0 16px;
  }

  #banner .banner_text {
    width: 150px;
    color: var(--primary-grey);
  }

  #banner .banner_logo {
    width: 120px;
    height: 100px;
    font-family: var(--primary-font);
    font-size: 52px;
  }

  #podium {
    min-height: 82px;
    height: 82px;
  }

  /* Contact us form */
  .contact_us_form {
    width: 300px;
    min-width: 300px;
    border-radius: 35px;
    padding: 40px 30px;
    text-align: center;
  }

  #send_application_btn {
    width: 100px;
  }

  #application_sent p {
    margin-top: 20px;
  }

  #contact_us_btn.cta_button {
    font-size: 16px;
    width: 166px;
    height: 42px;
  }

  /* Who we are */
  #who_we_are {
    min-height: 235px;
    background: var(--primary-grey);
  }

  #who_we_are .row_flex {
    align-items: flex-start;
  }

  #who_we_are p {
    margin-left: 8px;
  }

  #who_we_are p.s2.secondary_black {
    font-size: 12px;
  }

  #who_we_are h2 {
    display: none;
  }

  #man {
    top: -120px;
    width: 180px;
  }

  /* Our experience */
  #our_experience {
    min-height: 650px;
  }

  #our_experience .flex_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #our_experience .years {
    width: 204px;
    height: 120px;
  }

  #our_experience .years_box {
    display: flex;
    justify-content: center;
  }

  #our_experience .block_1 {
    width: 100%;
  }

  #our_experience h3 {
    margin-bottom: 15px;
  }

  #our_experience .s2 {
    margin-bottom: 10px;
  }

  #our_experience .block_2 {
    margin-bottom: 20px;
  }

  /* Out achievements */
  #our_achievements {
    min-height: 405px;
  }

  #our_achievements .title {
    margin-bottom: 30px;
    color: var(--primary-dark-blue);
  }

  #our_achievements h2 {
    margin-bottom: 5px;
    color: var(--secondary-black);
  }

  #our_achievements .flex_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #our_achievements .flex_2 {
    max-width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    gap: 20px;
  }

  #our_achievements .block_1 {
    display: flex;
    width: 168px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Our specializations */
  #our_specializations {
    min-height: 436px;
  }

  #our_specializations .flex_1 {
    row-gap: 20px;
  }

  #our_specializations .block_1 {
    word-wrap: break-word;
    column-gap: 5px;
    height: 72px;
    width: 168px;
  }

  #our_specializations img {
    height: 40px;
    width: 40px;
  }

  #our_specializations h2 {
    margin-bottom: 25px;
  }

  /* Why only with us */
  #only_with_us {
    height: 329px;
    min-height: 329px;
  }

  #only_with_us .infoblock {
    row-gap: 20px;
    margin-top: 20px;
  }

  #only_with_us .container {
    padding-top: 50px;
  }

  #only_with_us .s4 {
    width: 164px;
    height: 100%;
    color: var(--primary-grey);
  }

  /* Key to success */
  #key_to_success {
    min-height: 685px;
    min-width: 375px;
    background: url("../images/ellipse_2.png") no-repeat, linear-gradient(90deg, var(--primary-grey) calc(50% + 15px), var(--primary-dark-blue) calc(50% + 15px));
    background-position-x: calc(50% + 650px), center;
    background-position-y: 370px, center;
  }

  #key_to_success .row_flex {
    gap: 10px;
  }

  #key_to_success .block_3 img {
    width: 40px;
    height: 40px;
  }

  #key_to_success .s3 {
    font-size: 16px;
    line-height: 125%;
  }

  #key_to_success .s4 {
    font-size: 14px;
    line-height: 18px;
  }

  #key_to_success .flex_1 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  #key_to_success .part_1 {
    width: 100%;
    background: var(--primary-grey);
  }

  #key_to_success .part_2 {
    width: 100%;
    background: var(--primary-dark-blue);
  }

  #key_to_success .block_1 {
    height: 100%;
    min-width: 375px;
    min-height: 400px;
    width: 375px;
    padding: 50px 16px;
    margin: 0 auto;
  }

  #key_to_success .block_2 {
    height: 100%;
    min-width: 375px;
    min-height: 472px;
    width: 375px;
    padding: 50px 16px;
    margin: 0 auto;
  }

  #key_to_success .block_3 {
    gap: 20px;
    max-width: 460px;
  }

  #key_to_success .block_4 {
    gap: 20px;
    max-width: 360px;
  }

  #key_to_success .title_1 {
    width: 260px;
    margin-bottom: 30px;
  }

  #key_to_success .title_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-bottom: 30px;
  }

  #key_to_success .title_2 h3 {
    width: 200px;
  }

  /* Our capacities */
  #our_capacities {
    min-height: 1140px;
    height: auto;
    background: url("../images/airport.jpg") no-repeat top, var(--primary-grey);
  }

  #our_capacities .img_kazakhstan {
    width: auto;
    height: 222px;
    background: url("../images/mobile/kazakhstan.png") no-repeat center;
  }

  #our_capacities .column_flex {
    justify-content: space-between;
    gap: 50px;
    height: 100%;
  }

  #our_capacities h2 {
    margin-top: 156px;
    margin-bottom: 30px;
    text-align: center;
  }

  #our_capacities .shadow {
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.9) 81.67%, #000000 100%);
  }

  #our_capacities .infoblock {
    gap: 20px;
  }

  #our_capacities .block_2 {
    margin: 0 auto;
  }

  #our_capacities .block_1 {
    width: 100%;
    height: 60px;
  }

  /* Our licenses */
  #our_licenses {
    min-height: 515px;
  }

  #our_licenses .title_1 {
    width: 100%;
  }

  #our_licenses .column_flex {
    gap: 30px;
  }

  #our_licenses .notes {
    display: none;
  }

  #our_licenses fieldset {
    border-radius: 20px;
    padding: 20px 30px 30px;
    width: 100%;
  }

  #our_licenses .flex_1 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  #our_licenses .flex_1_item {
    width: 60px;
  }

  #our_licenses legend {
    width: 256px;
  }

  #our_licenses legend img {
    width: 40px;
    height: 40px;
  }

  /* Our solutions */
  #our_solutions {
    min-height: 835px;
    height: 835px;
  }

  #our_solutions .flex_1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-wrap: wrap;
  }

  #our_solutions .part_1 {
    width: 100%;
    height: 356px;
    min-height: 356px;
    background: var(--primary-dark-blue);
  }

  #our_solutions .part_2 {
    width: 100%;
    height: 480px;
    min-height: 480px;
    background: var(--primary-grey);
  }

  #our_solutions .block_1 {
    height: 100%;
    min-width: 375px;
    width: 375px;
    padding: 50px 16px 30px 16px;
    margin: 0 auto;
  }

  #our_solutions .block_2 {
    height: 100%;
    min-width: 375px;
    width: 375px;
    padding: 50px 16px;
    margin: 0 auto;
  }

  #key_to_success .block_2 {
    height: 100%;
    min-width: 375px;
    min-height: 472px;
    width: 375px;
    padding: 50px 16px;
    margin: 0 auto;
  }

  #our_solutions br.br {
    display: none;
  }

  #our_solutions .block_3 {
    gap: 25px;
    max-width: 460px;
  }

  #our_solutions .block_4 {
    gap: 25px;
    max-width: 360px;
  }

  #our_solutions .title_1 {
    width: 300px;
    margin-bottom: 30px;
    color: var(--primary-grey);
  }

  #our_solutions .title_2 {
    width: 250px;
    margin-bottom: 50px;
    color: var(--primary-dark-blue);
  }

  #our_solutions .block_1 .li_item {
    color: var(--primary-grey);
  }

  #our_solutions .block_1 .li_item:not(:last-child) {
    margin-bottom: 10px;
  }

  #our_solutions .li_block {
    display: flex;
  }

  #our_solutions .li_block_item {
    margin-left: 20px;
  }

  #our_solutions .block_2 .li_block_item_header {
    margin-bottom: 10px;
    color: var(--primary-dark-blue);
  }

  #our_solutions img {
    object-fit: none;
  }

  #our_solutions .block_2 li:not(:last-child) {
    margin-bottom: 35px;
  }

  /* Our control system */
  #our_control_system {
    height: 576px;
    background: url("../images/city_top_view.png") no-repeat center, var(--primary-grey);
  }

  #our_control_system .title_1 {
    width: 100%;
  }

  #our_control_system .title_1 img {
    display: none;
  }

  #our_control_system .title_2 {
    width: 100%;
    margin-bottom: 10px;
  }

  #our_control_system .block_1 {
    height: auto;
    width: 100%;
  }

  #our_control_system .column_flex {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

  }

  #our_control_system .progress_banner {
    gap: 12px;
    width: 100%;
    height: 134px;
    padding: 16px;
  }

  #our_control_system .block_2 {
    height: auto;
    width: 100%;
  }

  #our_control_system .row_flex {
    justify-content: space-between;
  }

  #our_control_system .progress_line {
    gap: 5px;
  }

  /* Our team */
  #our_team {
    height: 940px;
    min-height: 940px;
    background: url("../images/worker.png") no-repeat, linear-gradient(0deg, #BABABA 0%, rgba(186, 186, 186, 0.7) 31.74%, rgba(255, 255, 255, 0.5) 69.66%);
    background-position: calc(50% + 108px) calc(100% + 30px), center;
    background-size: 180px 300px, 100%;
  }

  #our_team .container {
    background: none;
  }

  #our_team .flex_1 {
    flex-direction: column;
    row-gap: 50px;
  }

  #our_team .title_1 {
    width: 100%;
    margin-bottom: 30px;
  }

  #our_team .title_2 {
    font-size: 32px;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 15px;
  }

  #our_team .block_1 {
    row-gap: 20px;
  }

  #our_team .block_2 {
    width: 100%;
    justify-content: flex-start;
    gap: 0;
  }

  #our_team .block_2 img {
    height: 70px;
    width: 70px;
  }

  #our_team .block_3 {
    width: 200px;
  }

  #our_team .part_1 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #our_team .part_2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #our_team .block_2_header {
    margin-bottom: 5px;
  }

  #our_team .li_block_marker {
    margin-right: 15px;
  }

  #our_team .block_4 {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  #our_team .block_4 img {
    content: url("../images/mobile/dot.png");
  }

  /* Future technologies */
  #future_technologies {
    display: flex;
    flex-direction: column;
    height: 1196px;
    background: var(--primary-dark-blue);
    padding: 50px 0;
  }

  #future_technologies .header_part {
    width: 375px;
    height: auto;
    padding: 0px 16px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #future_technologies .flex_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  #future_technologies .part_1 {
    width: 100%;
    height: auto;
    background: url("../images/screen.png") no-repeat;
    background-size: auto 390px;
    background-position-x: calc(50% - 102px);
    background-position-y: bottom;
  }

  #future_technologies .part_2 {
    width: 100%;
    height: 100%;
  }

  #future_technologies .block_1 {
    margin: 0 auto;
    width: 375px;
    height: 420px;
  }

  #future_technologies .block_2 {
    margin: 0 auto;
    padding: 30px 16px 50px 16px;
    width: 375px;
    height: 100%;
  }

  #future_technologies .block_3_header {
    width: 100%;
    margin-bottom: 15px;
  }

  #future_technologies .block_4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #future_technologies .block_5 {
    display: flex;
    width: 165px;
  }

  #future_technologies .notes {
    margin-left: auto;
    margin-right: 0px;
    width: 236px;
    height: 292px;
    padding: 20px;
    background: var(--tertiary-dark-grey);
    border-radius: 15px;
  }

  #future_technologies ul {
    margin-top: 15px;
  }

  #future_technologies li:not(:last-child) {
    margin-bottom: 10px;
  }

  #future_technologies .notes .title_1 {
    margin: 0px;
  }

  #future_technologies .notes .cta_text {
    font-size: 16px;
  }

  #future_technologies .block_5_exception_1 {
    width: 200px;
  }

  #future_technologies .block_5_exception_2 {
    width: 175px;
  }

  #future_technologies .block_3:not(:last-child) {
    margin-bottom: 25px;
  }

  /* Any questions */
  #any_questions {
    height: 912px;
  }

  #any_questions .h3 {
    font-size: 18px;
  }

  #any_questions .block_2 .s1 {
    font-size: 22px;
  }

  #any_questions .block_2 .s2 {
    font-size: 16px;
  }

  #any_questions .flex_1 {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  #any_questions .part_1 {
    height: 100%;
    width: 100%;
    background: var(--primary-dark-blue);
  }

  #any_questions .part_2 {
    height: 100%;
    width: 100%;
    background: var(--tertiary-light-blue);
  }

  #any_questions .block_1 {
    height: 100%;
    width: var(--mobile-block-width);
    padding: 50px 16px;
    margin: 0 auto;
  }

  #any_questions .block_2 {
    height: 100%;
    width: var(--mobile-block-width);
    padding: 50px 16px;
    margin: 0 auto;
  }

  #any_questions .title_1 {
    width: 100%;
    margin-bottom: 20px;
  }

  #any_questions .scheme {
    width: 100%;
    height: 164px;
    position: relative;
  }

  #any_questions .scheme_text_1 {
    position: absolute;
    left: 16px;
    top: 0px;
    width: 240px;
  }

  #any_questions .scheme_text_2 {
    position: absolute;
    left: 16px;
    top: auto;
    bottom: 0px;
    width: 152px;
  }

  #any_questions .scheme_text_3 {
    position: absolute;
    left: 184px;
    top: 109px;
    width: 160px;
  }

  #any_questions .circle {
    content: url("../images/mobile/circle.png");
    position: absolute;
    left: 89px;
    top: 41px;
  }

  #any_questions .ecosystem_scheme {
    width: auto;
    height: auto;
    content: url("../images/mobile/ecosystem_scheme.png");
  }

  #any_questions .block_2_text {
    width: 255px;
    gap: 5px;
    margin-bottom: 30px;
  }

  /* Quality standard */
  #quality_standard {
    height: 580px;
    background: var(--primary-dark-blue);
  }

  #quality_standard .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #quality_standard .s2 {
    line-height: 17.5px;
  }

  #quality_standard .s6 {
    line-height: 15px;
  }

  #quality_standard .flex_1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    column-gap: 8px;
  }

  #quality_standard .block_1 {
    width: 50%;
    height: auto;
  }

  #quality_standard .block_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #quality_standard .block_header {
    margin-bottom: 5px;
  }

  #quality_standard .container {
    background-image: url(../images/mobile/quality_standard_bg.png)
  }

  #quality_standard .title_1 {
    width: 100%;
    margin-bottom: 30px;
  }

  #quality_standard .title_2 {
    width: 100%;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  /* Your ambitions */
  #your_ambitions {
    height: 1183px;
    background: var(--primary-dark-blue);
  }

  #your_ambitions .flex_1 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #your_ambitions .part_1 {
    width: 100%;
    height: auto;
  }

  #your_ambitions .part_2 {
    width: 100%;
    height: auto;
  }

  #your_ambitions .container {
    padding: 0px 0px;
  }

  #your_ambitions .block_1 {
    padding: 50px 16px;
    width: 375px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: calc(50% - 20px);
    height: 582px;
    margin: 0 auto;
  }

  #your_ambitions .block_2 {
    padding: 50px 16px;
    width: 375px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 600px;
    margin: 0 auto;
  }

  #your_ambitions .block_1 .header_1 {
    margin-bottom: 5px;
  }

  #your_ambitions .block_1 .header_2 {
    font-size: 32px;
    margin: 0;
  }

  #your_ambitions .block_2 .header_1 {
    margin-top: 100px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  #your_ambitions .block_2 .header_2 {
    margin: 0;
  }

  #your_ambitions .header_2 {
    margin-top: 125px;
    margin-bottom: 5px;
  }

  #your_ambitions .block_2_text {
    margin: 0 auto;
    margin-left: 110px;
    margin-top: 110px;
    width: 176px;
  }

  /* Our recent projects */
  #our_recent_projects {
    min-height: 760px;
    background: var(--primary-dark-blue);
  }

  /* Our clients */
  #our_clients {
    min-height: 935px;
    background: var(--primary-dark-blue);
  }

  #our_clients .title {
    width: 100%;
  }

  #our_clients ul {
    padding: 0;
    margin: 0;
    width: 260px;
  }

  #our_clients li {
    margin-top: 20px;
  }

  #our_clients li:first-child {
    margin-top: 0px;
  }

  #our_clients .block_1 {
    width: 260px;
  }

  #our_clients .block_2 {
    margin-left: 0px;
    max-height: none;
    margin-bottom: 30px;
  }

  #our_clients .flex_1 {
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
  }

  #our_clients .flex_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  #our_clients img {
    width: 64px;
  }

  #our_clients .company_logo {
    border-radius: 15px;
  }

  /* Footer */
  footer {
    min-width: 375px;
    overflow: auto;
    height: 250px;
    background: var(--secondary-black);
  }

  footer .flex_1 {
    display: flex;
    align-items: flex-start;
  }

  footer img {
    content: url("../images/mobile/logo_white_medium.png");
  }

  footer .flex_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer .block_1 {
    margin-top: 10px;
    margin-left: 0px;
    width: 168px;
  }

  footer .block_2 {
    margin-left: 0px;
    width: 100px;
  }

  footer ul {
    margin-left: 86px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  footer li a {
    display: block;
    color: #FFF;
    padding: 5px 16px;
    text-decoration: none;
  }
}