@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300;400;500;600&display=swap');

:root {
    --primary-accent-blue: #3D7CF6;
    --primary-grey: #E7E7E7;
    --primary-dark-blue: #173EA3;

    --secondary-black: #3F3F44;
    --secondary-dark-grey: #C0C0C0;

    --primary-font: "Roboto";
    --secondary-font: "Montserrat";

    --tertiary-blue: #4A84F4;
    --tertiary-dark-grey: #8A8A8A;
    --tertiary-white: #FEFEFE;
    --tertiary-light-blue: #9ABBFA;

    --white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 125%;
    color: var(--primary-dark-blue)
}

body h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: var(--primary-dark-blue)
}

.h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: var(--primary-dark-blue)
}

.h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #000000;
}

body h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: #000000;
    margin: 0;
}

.s1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: #000000;
}

.s2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 137%;
    color: #000000;
}

.s3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 137%;
    color: #000000;
}

.s4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
}

.s6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: var(--secondary-dark-grey)
}

.s7 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--primary-dark-blue)
}

.cta_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--tertiary-white);
}

.primary_accent_blue {
    color: var(--primary-accent-blue);
}

.primary_grey {
    color: var(--primary-grey);
}

.primary_white {
    color: var(--primary-grey);
}

.primary_dark_blue {
    color: var(--primary-dark-blue);
}

.secondary_black {
    color: var(--secondary-black);
}

.secondary_dark_grey {
    color: var(--secondary-dark-grey);
}

.tertiary_blue {
    color: var(--tertiary-blue);
}

.white {
    color: var(--white);
}